<% index = dog_counter + 1 %>
<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <p> Likes <%= dog.likes_count %></p>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>

<%= render 'like_button', dog: dog %>

<% if index.even? %>
  <%= image_tag 'ad.jpg', class: "Ad", alt: "Ad" %>
<% end %>
